* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
.container {
  height: 100vh;
  width: 100%;
  scroll-behavior: smooth;
}

.barra_navegacao {
  height: 14%;
  /*background-color: rgb(42, 42, 42);*/
  background-image: linear-gradient(
    black,
    rgb(50, 50, 50),
    rgba(0, 0, 0, 0.877)
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*box-shadow: 0px 3px 50px 15px rgb(127, 115, 43);*/
  position: relative;
}

.tigre_logo {
  width: 130px;
  height: 130px;
  margin-left: 1%;
}

.nome {
  font-family: "Beau Rivage", cursive;
  font-size: 90px;
  color: #deaa00;
}

ul {
  display: flex;
  color: #deaa00;
  list-style: none;
  font-size: 35px;
  margin-right: 3%;
}

.opcoes_nav {
  padding: 30px 20px;
  margin: 20px;
  font-family: "Montserrat", sans-serif;
}

.opcoes_nav:hover {
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition-delay: 70ms;
  border-radius: 35%;
  border: 5px;
  border-style: none solid;
  border-color: rgb(69, 69, 69);
  background-image: radial-gradient(
    rgb(91, 84, 0),
    rgb(24, 23, 0),
    rgba(30, 30, 30, 0.877)
  );
  color: #e5b61c;
}

.ancora_nav {
  color: #e5b61c;
  text-decoration: none;
}

.conteudo {
  /*background-image: linear-gradient(
    to left,
    black,
    #0f4779,
    #225e92,
    #0f4779,
    black
  );*/
  background-image: linear-gradient(
    to left,
    #000000,
    #1d2831,
    #2e373f,
    #1d2831,
    #000000
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.texto_sobre {
  line-height: 3rem;
  text-indent: 90px;
  padding: 2%;
}

h2 {
  text-align: center;
}

.bloco_1 {
  height: 800px;
  width: 80%;
  background-image: url(../images/aditya-romansa-m6p4lqWxfy0-unsplash.jpg);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.introducao {
  width: 60%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.618);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  box-shadow: 3px 3px 10px 5px black;
}

.titulo {
  color: #beb7a4;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  box-shadow: 3px 3px 10px 5px black;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.636);
}

.avatar {
  width: 40%;
  border-radius: 35%;
  box-shadow: 0 0 30px 21px black;
  border: solid 7px #e5b61c;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.texto {
  height: auto;
  font-size: 30px;
  color: white;
  /*box-shadow: 0px 3px 50px 15px #0f4779;*/
  box-shadow: 0px 0px 33px 17px grey;
  position: relative;
  width: 85%;
  border-radius: 60px 20px;
  padding: 2%;
  font-family: "Montserrat", sans-serif;
  /*background-image: linear-gradient(
    to left,
    #beacac,
    #1d2831,
    #71767a,
    #1d2831,
    #000000
  );*/
}

abbr {
  text-decoration: underline;
}

.bloco_3 {
  height: 800px;
  width: 80%;
  background-image: url(../images/mae-mu-rgRbqFweGF0-unsplash.jpg);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bloco_interesses {
  background-color: #0000006c;
  border-radius: 60px 20px;
  width: 70%;
  padding: 20px;
  align-self: flex-end;
}

.outros {
  width: 50%;
  align-self: flex-start;
}

.alguns_interesses {
  font-size: 60px;
  color: #beb7a4;
  font-family: "Montserrat", sans-serif;
  text-shadow: 2px 2px 5px rgb(255, 255, 255);
}

.interesses {
  font-family: "Montserrat", sans-serif;
  text-shadow: 2px 2px 5px rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}

.li_interesses {
  font-size: 45px;
  padding-top: 20px;
}

.blocos_habilidades {
  width: 70%;
  height: 150px;
  margin: 40px;
  border: solid 6px rgb(185, 182, 182);
  box-shadow: 0 0 8px 7px rgb(185 182 182);
}

.barra_progresso {
  padding: 2%;
}

.barra_proficiencia {
  width: 90%;
}

.hab_titulo {
  padding: 30px 30px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: bolder;
  color: #deaa00;
  text-shadow: 5px 5px #000000;
}

.bloco_4 {
  height: 1000px;
}

.hab_html {
  background-image: url(../images/html.jpg);
  background-size: cover;
  border-radius: 60px 5px 5px 5px;
}

.hab_matematica {
  background-image: url(../images/matematica.jpg);
  background-size: cover;
}

.hab_css {
  background-image: url(../images/css.jpg);
  background-size: cover;
  background-position: center;
}

.hab_fisica {
  background-image: url(../images/fisica.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 5px 5px 60px 5px;
}

.bloco_5 {
  height: 1000px;
  width: 80%;
  background-image: url(../images/nasa-n463SoeSiVY-unsplash.jpg);
  background-size: 80%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.texto_portifolio {
  height: 600px;
  font-size: 30px;
  color: white;
  box-shadow: 0px 0px 33px 17px grey;
  position: relative;
  width: 85%;
  border-radius: 60px 20px;
  padding: 2%;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.menu {
  background-image: linear-gradient(
    to left,
    #3e0000,
    #540000,
    #750000,
    #540000,
    #3e0000
  );
  width: 50%;
  height: 70%;
  border-radius: 60px 20px;
  border: solid 5px #e5b61c;
  box-shadow: 0 0 30px 30px black;
}

.ancora_portifolio {
  color: #e5b61c;
  text-decoration: none;
  font-size: 60px;
  font-family: "Arizonia", cursive;
}

.ancora_portifolio:hover {
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition-delay: 30ms;
  font-size: 65px;
  color: #e5b61c;
}

.lista_portifolio {
  display: flex;
  flex-direction: column;
  padding: 5% 0 0 15%;
}

.bloco_7 {
  height: 8000px;
  width: 80%;
  background-image: url(../images/calum-lewis-vA1L1jRTM70-unsplash.jpg);
  background-size: 60%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.container_imagens_portifolio {
  background-color: #ffffff;
  width: 600px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 2px 5px #000000;
}

.titulos_portifolio {
  background-color: #000000cd;
  color: #e5b61c;
  font-size: 90px;
  width: 40%;
  align-self: center;
  text-align: center;
  padding: 60px 100px;
  margin: 100px 0;
  border-radius: 20px 60px;
  font-family: "Arizonia", cursive;
  font-weight: lighter;
}

.maior {
  width: 60%;
}

.img_a_esquerda {
  transform: rotateZ(-9deg);
}

.img_a_direita {
  align-self: flex-end;
  transform: rotateZ(9deg);
}

.imagens_portifolio {
  width: 95%;
}

.img10 {
  transform: rotateZ(-9deg);
}

.container_imagens_portifolio2 {
  background-color: #ffffff;
  width: 600px;
  height: 460px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 2px 5px #000000;
}

.container_imagens_portifolio3 {
  background-color: #ffffff;
  width: 600px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 2px 5px #000000;
}

.contatos {
  height: 400px;
  background-image: linear-gradient(
    to left,
    #000000,
    #1d2831,
    #2e373f,
    #1d2831,
    #000000
  );
}

.h2_contatos {
  color: white;
  font-size: 60px;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
}

.link_contatos {
  color: white;
  font-size: 40px;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.ancora_link {
  text-decoration: none;
  color: white;
}

.ancora_link:hover {
  font-size: 45px;
  transition-delay: 100ms;
  transition-duration: 100ms;
}

.ancora_botao_subida {
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: rgb(154, 154, 154);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  opacity: 0.8;
}

.setinha {
  width: 80%;
}

.ancora_botao_subida:hover {
  background-color: rgb(255, 255, 255);
}

@media (max-width: 480px) {
  .tigre_logo {
    width: 100px;
    height: 100px;
  }

  .nome {
    font-size: 11vw;
  }

  .barra_navegacao {
    display: flex;
    flex-direction: column;
    height: 28%;
  }

  .opcoes_nav {
    margin: 10px;
    padding: 0px 1%;
  }

  .bloco_1 {
    height: 730px;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
  }

  .titulo {
    text-align: center;
    width: 90%;
  }

  .avatar {
    width: 60%;
  }

  .introducao {
    width: 80%;
    height: 80%;
    gap: 60px;
  }

  .texto_sobre {
    line-height: 2rem;
  }

  ul {
    display: flex;
    color: #deaa00;
    list-style: none;
    font-size: 1rem;
  }

  .hab_titulo {
    font-size: 1.7rem;
  }

  .imagens_portifolio {
    width: 95%;
  }

  .img10 {
    transform: rotateZ(-9deg);
  }

  .ancora_portifolio {
    font-size: 3rem;
  }

  .ancora_portifolio:hover {
    font-size: 3.1rem;
  }

  .container_imagens_portifolio {
    width: 240px;
    height: 240px;
  }

  .container_imagens_portifolio2 {
    width: 320px;
    height: 240px;
  }

  .container_imagens_portifolio3 {
    width: 320px;
    height: 210px;
  }

  .h2_contatos {
    font-size: 2rem;
    padding: 20px;
  }

  .link_contatos {
    font-size: 1.5rem;
    padding: 20px;
  }

  .menu {
    width: 90%;
    height: auto;
  }

  .titulos_portifolio {
    width: auto;
    font-size: 3rem;
  }

  .contatos {
    height: auto;
    padding-bottom: 5%;
  }

  .bloco_5 {
    height: auto;
    width: 100%;
    background-size: 150%;
  }

  .bloco_7 {
    height: auto;
    width: 90%;
    background-size: 100%;
  }

  .bloco_interesses {
    width: 70%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .outros {
    width: auto;
    height: 800px;
    text-shadow: 1px 1px 5px rgb(255, 255, 255);
    align-items: center;
  }

  .alguns_interesses {
    font-size: 2rem;
  }

  .interesses {
    text-shadow: 1px 1px 5px rgb(255, 255, 255);
  }

  .li_interesses {
    font-size: 2rem;
    padding-top: 20px;
  }
}
